################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductAPI/.vs
/ProductAPI/ProductAPI/.config
/ProductAPI/ProductAPI/bin
/ProductAPI/ProductAPI/obj
